<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/3p/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/linker/styles/3p/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/css/app.css">
    <link rel="stylesheet" href="/linker/styles/css/modal.css">
    <link rel="stylesheet" href="/linker/styles/css/race_results.css">
    <link rel="stylesheet" href="/linker/styles/css/standings.css">
    <link rel="stylesheet" href="/linker/styles/css/team_results.css">
    <!--STYLES END-->

    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%- body %>

    <script type="text/javascript" src="/jst.js"></script>

    <!--SCRIPTS-->
    <script src="/linker/js/3p/jquery-1.10.2.min.js"></script>
    <script src="/linker/js/3p/underscore-min.js"></script>
    <script src="/linker/js/3p/backbone-min.js"></script>
    <script src="/linker/js/3p/bootstrap.min.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/app/router.js"></script>
    <script src="/linker/js/app/models/divisions.js"></script>
    <script src="/linker/js/app/models/heading.js"></script>
    <script src="/linker/js/app/models/race.js"></script>
    <script src="/linker/js/app/models/result.js"></script>
    <script src="/linker/js/app/models/team.js"></script>
    <script src="/linker/js/app/models/teamResult.js"></script>
    <script src="/linker/js/app/collections/divisions.js"></script>
    <script src="/linker/js/app/collections/headings.js"></script>
    <script src="/linker/js/app/collections/races.js"></script>
    <script src="/linker/js/app/collections/results.js"></script>
    <script src="/linker/js/app/collections/teamResults.js"></script>
    <script src="/linker/js/app/collections/teams.js"></script>
    <script src="/linker/js/app/views/header.js"></script>
    <script src="/linker/js/app/views/raceResults.js"></script>
    <script src="/linker/js/app/views/standings.js"></script>
    <script src="/linker/js/app/views/team.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
