html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Bitter', sans-serif;
  a {
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .table {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 100%;
    th {
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
    }
    tbody tr td {
      vertical-align: middle;
    }
  }
}

.navbar {
  border-radius: 0;
  min-height: 28px;
  min-width: 1000px;
  margin: 0;
  background-image: none;

  .navbar-brand {
    font-size: 16px;
    line-height: 28px;
    padding: 0 10px 0 10px;
  }

  .navbar-link {
    float: right;
  }
}

#content {
  min-width: 1000px;
  max-width: 100%;
  overflow-x: scroll;
  padding: 0 32px 0 32px;
  margin: 0 auto 24px auto;

  .table-label {
    min-width: 800px;
    margin: auto;
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding-bottom: 10px;                                                                                                                 
  }
}

#loading {
  background-image: url("/linker/../images/spinner.gif");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin: auto;
  position: relative;
  top: 30%;
}

#title {
  background-image: url("/linker/../images/main_bg.jpg");
  background-size: 1944px 1296px;
  background-repeat: no-repeat;
  background-position: -340px -210px;
  width: 100%;
  min-width: 1000px;
  display: inline-block;
  text-align: center;

  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90px;
  margin: auto;
  text-align: center;

  .title-secondary {
    color: #ccc;
  }
}

.main {
  #title {
    background-attachment: fixed;
    background-position: -340px -180px;
  }

  #content {
    background-image: url("/linker/../images/main_bg.jpg");
    background-size: 1944px 1296px;
    background-repeat: no-repeat;
    background-position: -340px -180px;
    background-attachment: fixed;
  }
}

.results {
  #content {
    text-align: center;
    .table-label {
      color: #000;
    }
  }

  .results-header {
    padding: 14px 0;
    float: left;
    text-align: left;
    width: 100%;
    position: relative;
    .title {
      font-size: 22px;
      float: left;
    }
    .details {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      float: left;
      clear: left;
    }
    .btn-group {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-bottom: 14px;
      float: right;
      clear: right;
      .btn {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
