body {
  font-family: 'Bitter', sans-serif;
  a {
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .table {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}

.navbar {
  border-radius: 0;
  min-height: 28px;
  margin: 0;
  background-image: none;

  .navbar-brand {
    font-size: 16px;
    line-height: 28px;
    padding: 0 10px 0 10px;
  }

  .navbar-link {
    float: right;
  }
}

#content {
  max-width: 1100px;
  min-width: 600px;
  margin: 0 auto 24px auto;

  .table-label {
    max-width: 1100px;
    min-width: 600px;
    margin: auto;
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding-bottom: 10px;                                                                                                                 
  }
}

#title {
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90px;
  margin: auto;
  text-align: center;

  .title-secondary {
    color: #ccc;
  }
}

.main {
  background-image: url("/linker/../images/main_bg.jpg");
  background-size: 1944px 1296px;
  background-repeat: no-repeat;
  background-position: -340px -180px;
  background-attachment: fixed;

  #title {
    min-width: 600px;
    max-width: 1100px;
  }
}

.results {
  #title {
    background-image: url("/linker/../images/main_bg.jpg");
    background-size: 1944px 1296px;
    background-repeat: no-repeat;
    background-position: -340px -210px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  #content {
    text-align: center;
    .table-label {
      color: #000;
    }
  }
}
