.modal-dialog {
  padding-top: 100px;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  background-color: #222;
  color: #ddd;
  .modal-title {
    font-family: 'Bitter', sans-serif;
  }
  .close {
    opacity: 1;
    color: #ddd;
    text-shadow: none;
  }
}

.modal-body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
