.modal-dialog {
  padding-top: 100px;
  width: 500px;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  background-color: #222;
  color: #ddd;
  padding: 8px 15px;
  .modal-title {
    font-family: 'Bitter', sans-serif;
  }
  .close {
    opacity: 1;
    color: #ddd;
    text-shadow: none;
  }
}

.modal-body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-bottom: 0;
}

.modal-footer {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-top: none;
  margin-top: 0;
  padding: 15px;
  .btn+.btn {
    margin-left: 2px;
  }
  button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

#contactModal {
  .modal-body-loading, .modal-body-sent {
    display: none;
    height: 228px;
  }
  #contact-message {
    width: 440px;
    height: 100px;
  }
}
