.team-result .indiv-results {
  display: none;
  max-width: 0px;
  min-width: 0px;
}

.race-header {
  .race-link {
    float: right;
    line-height: 31px;
  }
}

.team-heading {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #eee;
  min-width: 800px;

  div {
    display: inline-block;
    width: 24%;

    .label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color: #999;
    }

    .val {
      font-size: 19px;
      font-weight: bold;
    }
  }
}

.team-results {
  clear: both;
}

.overall-place {
  max-width: 67px;
  min-width: 55px;
}

.age_place-cell, .gender_place-cell, .overall_place-cell {
  max-width: 65px;
  min-width: 55px;
}

.sex_age-cell {
  max-width: 60px;
  min-width: 60px;
}

.ag_gender_place-cell {
  min-width: 65px;
  max-width: 85px;
}

.ag_gender_place-cell {
  min-width: 90px;
}

.ag_percent-cell {
  min-width: 70px;
}

.last_name-cell, .first_name-cell {
  min-width: 100px;
}

.bib-cell {
  min-width: 35px;
}

.team-cell {
  min-width: 50px;
}

.city-cell {
  min-width: 110px;
  max-width: 110px;
}

.state-cell {
  min-width: 50px;
}

.country-cell {
  min-width: 100px;
  max-width: 100px;
}

.pace_per_mile-cell {
  min-width: 85px;
}

.ag_time-cell {
  min-width: 53px;
}
