.race-header {
  font-size: 22px;
  padding: 14px 0;
  float: left;
}

.team-heading {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #eee;

  div {
    display: inline-block;
    width: 24%;

    .label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color: #999;
    }

    .val {
      font-size: 19px;
      font-weight: bold;
    }
  }
}

.team-results {
  clear: both;
}

.btn-group {
  padding: 14px 0;
  float: right;
  .btn {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.overall-place {
  width: 67px;
}

.age_place-cell, .gender_place-cell, .overall_place-cell {
  width: 65px;
}

.ag_gender_place-cell {
  width: 90px;
}

.ag_percent-cell {
  width: 70px;
}
