.standings {
  .standings-table {
    background-color: #fff;
    opacity: 0.9;

    th {
      text-align: center;
    }

    .club-name {
      text-align: left;
    }

    .total-points {
      width: 100px;
    }

    .race-heading {
      width: 60px;
      padding: 4px 10px;
      .race-link {
        cursor: pointer;
      }
    }

    tbody {
      text-align: center;
      .team-name {
        text-align: left;
      }
    }
  }
}
