.standings {
  .standings-table {
    max-width: 1100px;
    min-width: 600px;
    margin: 0 auto 24px auto;

    background-color: #fff;
    opacity: 0.9;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    th {
      text-align: center;
    }

    .club-name {
      text-align: left;
    }

    .total-points {
      width: 100px;
    }

    .race-link {
      width: 60px;
      padding: 4px 10px;
      span {
        cursor: pointer;
      }
    }

    tbody {
      text-align: center;
      .team-name {
        text-align: left;
      }
    }
  }

  .table-label {
    max-width: 1100px;
    min-width: 600px;
    margin: auto;
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding-bottom: 10px;
  }
}
