<div id='header'></div>
<div id='content'></div>

<script type="text/javascript">
  window.sailsExports = {}
  sailsExports.racesJson = <%- JSON.stringify(races) %>
  sailsExports.teamsJson = <%- JSON.stringify(teams) %>
</script>
